spring:
  application:
    name: pedo

  datasource:
    url: jdbc:postgresql://localhost:5432/pdlogical
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jmx:
    enabled: false

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
