spring:
  application:
    name: pedo

  datasource:
    url: jdbc:postgresql://localhost:5432/pdlogical
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jmx:
    enabled: false

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          microsoft:
            client-id: ${MICROSOFT_CLIENT_ID:placeholder-client-id}
            client-secret: ${MICROSOFT_CLIENT_SECRET:placeholder-client-secret}
            scope: openid, profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-name: Microsoft
        provider:
          microsoft:
            issuer-uri: https://login.microsoftonline.com/${MICROSOFT_TENANT_ID:common}/v2.0
